body {
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    height: 300px;
}


.archived-cards {
    background-color: greenyellow;
}

.hidden {
    display: none;
}